<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "AHKS" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>


    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      $(document).ready(function(){
          $("#<%= @nav_select %>").addClass("active");

          $('.alert-success').fadeOut(3000, function() { $('.alert-success').remove();});        
         
           // Activates the Carousel
            $('.carousel').carousel({
              interval: 5000
            });

            // Activates Tooltips for Social Links
            $('.tooltip-social').tooltip({
              selector: "a[data-toggle=tooltip]"
            });
      });

    </script>

  </head>
  <body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">AHKS</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li id='home'><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
        <% if user_signed_in? %>
          <li id='tags'><%= link_to " myTags", "/tags", :class => "icon-tags"  %></li>
          <li id='transcriptions'><%= link_to " myTranscriptions", "/transcriptions", :class => "icon-microphone" %></li>
          <li id='documents'><%= link_to " myDocuments", "/documents", :class => "icon-file" %></li>
        <% end %>
        <li id='about'><%= link_to " About", "#", :class => "icon-info-sign"  %></li>
        <li id='contact'><%= link_to " Contact", "#" , :class => "icon-envelope" %></li>
        </ul>

        <% if !user_signed_in? %>
        <ul class="nav pull-right">
          <li id='signup'><%= link_to " Sign up", new_user_registration_path, :method => :get, :class => "icon-user" %>
          <li id='signin'><%= link_to " Sign In", new_user_session_path, :method => :get, :class => "icon-off" %></li>
          </li>
        </ul>
        <% end %>
        
        
        <% if user_signed_in? %>
         <ul class="nav pull-right">
          <li id='account'> <%= link_to (" Account"), edit_user_registration_path , :id=>"Edit account", :class =>"icon-cog"%> </li>
          <li id='logout'> <%= link_to ' Logout', destroy_user_session_path, :method=>'delete', :id => "Logout", :class => "icon-off" %> </li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">My Account</a></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li> -->
        </ul>
        <% end %>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
    
          <%= bootstrap_flash %>
          <%= yield %>
       

       

    
  <hr>
<div class = "navbar navbar-default navbar-fixed-bottom">
<div id="footer">

  <div class="container">
    <p class = "navbar-text pull-left">ECE496 - Speech Summarizer</p>
    <p class = "navbar-text pull-right"> &copy; AHKS 2014</p>

  </div>
</div>
</div>


  </body>
</html>
