<%= form_for @transcription, :html => { :class => 'form-horizontal', :multipart => true} do |f| %>
  <div class="control-group">
  <%= f.hidden_field :user_id, :value => current_user.id %>
 
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>

   <div class="control-group">
    <%= f.label :tag_ids, "Tags", :class => 'control-label' %>
    <div class="controls">
    <%= collection_select 'transcription', 'tag_ids',
        Tag.all, :id, :name, 
        { }, 
        { :multiple => true, 
          :name =>'transcription[tag_ids][]',
          :selected => 0 } %>
    </div> 
  </div>

  <div class="control-group">
    <%= f.label "Upload", :class => 'control-label' %>
    <div class="controls">
        <%= f.file_field :audio %>
    </div>
  </div>



  <div class="form-actions">
    <%= f.submit "Done", :name=>"done", :class => 'btn btn-primary' %>
    <%= f.submit "Continue to Record Audio", :name => "Continue to Record Audio",   :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transcriptions_path, :class => 'btn btn-danger' %>
  </div>
<% end %>
