<div class="alert alert-info" style="text-align:left;">
  <a class="close" data-dismiss="alert">×</a>
  <div class="container">
A transcription can be saved without an attachment. You can edit the transcription at a later time and upload/record.
</div>
</div>
<%= form_for @transcription, :html => { :class => 'form-horizontal', :multipart => true} do |f| %>
  <div class="control-group">
  <%= f.hidden_field :user_id, :value => current_user.id %>
 
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', :autofocus => true, :required => "required" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>

   <div class="control-group">
    <%= f.label :tag_ids, "Tags", :class => 'control-label' %>
    <div class="controls">
    <%= collection_select 'transcription', 'tag_ids',
        current_user.tags, :id, :name, 
        { }, 
        { :multiple => true, 
          :name =>'transcription[tag_ids][]',
          :selected => 0,
          :required => "required" } %>
    </div> 
  </div>

  <div class="control-group">
    <%= f.label "Upload", :class => 'control-label' %>
    <div class="controls">
        <%= f.file_field :audio %>
        <span class="help-block">Skip "Continue to Record" if you are uploading.</span>

    </div>
  </div>



  <div class="form-actions">
    <%= f.submit "Save", :name=>"done", :class => 'btn btn-success' %>
    <%= f.submit "Continue to Record Audio", :name => "Continue to Record Audio",   :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transcriptions_path, :class => 'btn btn-danger' %>
  </div>
<% end %>
